*{
  padding: 0;
  margin: 0;
}

video {
    object-fit: contain;
    overflow: hidden;
    /* width: 1536px; */
    width: 100%;
    height: 610px;
}

#container{
  width: 100%;
 /* width: 1550px; */
 height: 140px;
 background-color: #600ABB;
}

