
body{
    background-image: url(../assets/sound-waves.gif);
     background-size: cover; 
    background-position: 100%;
  overflow: hidden;
  height: 100vh;
}

.player{
    position: absolute;
    background-color: #270046;

}

